body, html {
    height: 100%;
    margin: 0;
    scroll-behavior:auto;
}

body {
    background-color: rgba(8, 0, 255, 1);
    font-family:monospace;
    font-size: 30pt;
}

#lingering_screen_static {
    position: fixed;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0.15;
    pointer-events: none;
    mask-size:cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top, center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Images/Heavy_Static_Mask.svg);
    mask-image: url(Images/Heavy_Static_Mask.svg);
    -moz-mask-image: url(Images/Heavy_Static_Mask.svg);
}

#text {
    position: absolute;
    left: 50px;
    width: 90%;
}

a {
    color: black;
    cursor: url(Cursors/ring/ring_clickable.png) 64 64, auto;
}

#email_button {
    font-size: 12pt;
}