body, html {
    background-color: hsl(0, 0%, 4%);
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.grid_photos {
    padding-top: 3%;
    padding-bottom: 1%;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto;
    gap: 1vw;
}

.grid_photos2 {
    padding-top: 0;
    padding-bottom: 1%;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    gap: 1vw;
}

.grid_photo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#headline_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#featured_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: 100%;
}