body, html {
    background-color: rgb(10, 10, 10);
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.project_description_link_text {
    color: hsl(0, 0%, 75%);
    background-color: rgba(0, 255, 13, 0.5);
    text-decoration: none;
}

#grid_photos {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;
}

.grid_photo {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#headline_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#featured_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: 100%;
}