body, html {
    background-color: rgb(10, 10, 10);
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#headliner_graphics {
    padding-top: 10%;
}

.project_description_link_text {
    color: hsl(0, 0%, 75%);
    background-color: rgba(0, 255, 13, 0.5);
    text-decoration: none;
}

#content {
    padding-top: 6%;
    padding-bottom: 1%;
    display: grid;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 20% auto;
    grid-gap: 1%;
}

#profile_photo {
    width: 100%;
    height: auto;
    margin-left: 25%;
    margin-right: auto;
    top: 25px;
    position: sticky;
    position: -webkit-sticky;
}

#featured_video {
    padding-top: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    height: 100%;
}

@media (max-width:1000px) {
    #content {
        grid-template-columns:none;
        grid-gap: 0;
        padding-top: 0;
    }
    #profile_photo {
        width: 30%;
        min-width: 175px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        top: 0px;
        position: relative;
        position: relative;
        margin-bottom: 5%;
    }
}