body, html {
    background-color: rgb(10, 10, 10);
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    cursor: url(Cursors/ring/ring_default.svg) 16 16, auto;
}

.project_description_link_text {
    color: hsl(0, 0%, 75%);
    background-color: rgba(0, 255, 13, 0.5);
    text-decoration: none;
}

#grid_photos {
    padding-top: 3%;
    padding-bottom: 3%;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    grid-gap: 3%;
}

.grid_photo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#headline_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#featured_video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 100%;
}