#fullscreen_static {
    position: fixed;
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1;
    pointer-events: none;
    visibility: visible;
    cursor: none;
}

#loading_text {
    padding: 5px;
    font-size: 22pt;
    width: 25%;
    left: calc(50% - (25%/2));
    position: fixed;
    z-index: 10001;
    color: black;
    top: 20%;
    text-align: center;
    line-height: 150%;
    z-index: 10000001;
    opacity: 1;
    background-color: rgb(0, 255, 13);
}