body, html {
    height: 100%;
    margin: 0;
    scroll-behavior:auto;
}

body {
    background: linear-gradient(
        to bottom,
        black 0%,
        rgb(31, 30, 31) 100%
    );
    background-color: black;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#loading_screen {
    margin: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    display: block;
    font-size: 12pt;
}

#loading_text {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: white;
    top: 50%;
    text-align: center;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
}

#mobile_notice {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: rgb(255, 0, 0);
    top: 60%;
    text-align: center;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
    visibility: hidden;
}

#version_text {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: white;
    bottom: 0;
    text-align: right;
    font-size: 6pt;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
}

/* Font controls for "scrolls to immerse"*/
#scroll_instructions {
    top: 0px;
    color:white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    margin-top: 1%;
    text-align: center;
    position: relative;
    z-index: 1;
}

#blank_space_for_scroll_animation {
    height: 3350px;
}

/* Video scroll playback controls */
#scroll_video {
    position: fixed;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    z-index: 0;
    visibility: visible;
}

#set-height {
    display:contents;
}

#lingering_screen_static {
    position: fixed;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1;
    pointer-events: none;
    mask-size:cover;
    mask-repeat: no-repeat;
    mask-position: top, center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Images/Heavy_Static_Mask.svg);
    mask-image: url(Images/Heavy_Static_Mask.svg);
    -moz-mask-image: url(Images/Heavy_Static_Mask.svg);
}

#fullscreen_static {
    position: fixed;
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    cursor: none;
}

#alpha_tv_cover {
    position: fixed;
    display: block;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: scale-down;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}

/* <div> container that holds the project category titles text, but not the text itself*/
.project_category {
    padding-left: 48px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24pt;
    margin-top: 0;
    /* Justify Content altars the alignment of a text box without adjusting the alignment of the text itslef. To align both the text box and text simultaneously, use text-align */
    justify-content:left;
    position: block;
    z-index: -1;
}

/* The text of the project category titles, parented to the <div> container */
.project_category_title {
    position: static;
    margin: 0;
    top: 5%;
    z-index: -1;
}

.project_thumbnail {
    left: 43vw;
    top: 52.5vh;
    position: fixed;
    border: 0;
    width: 14.5vw;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    cursor: url(Cursors/ring/ring_immersable_white.png) 64 64, auto;
    rotate: 359deg;
}

#animated_tv_static {
    left: 43vw;
    top: 52.5vh;
    position: fixed;
    border: 0;
    opacity: 0;
    z-index: 1;
    visibility:hidden;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
    border: 0;
    width: 14.5vw;
}

/* Project title font controls*/
.project_titles {
    color: rgb(0, 255, 13);
    background-color: rgba(255, 255, 255, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 20pt;
    /* Justify Content altars the alignment of a text box without adjusting the alignment of the text itslef. To align both the text box and text simultaneously, use text-align */
    width: 100vw;
    top: 10%;
    text-align: center;
    position: fixed;
    z-index: 101;
    visibility: hidden;
}

.project_title {
    line-height: 0;
    margin: 0;
}

/* <div> container that holds each individual project preview */
.project {
    margin-bottom: 50px;
    float:left;
    width: 100%;
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    background: hsla(0, 0%, 0%, 0.45);
    border: 1px solid hsl(0, 0%, 15%);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    scroll-snap-align: center;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #mobile_notice {
        visibility: visible;
    }

    #blank_space_for_scroll_animation {
        height: 0px;
    }

    #scroll_video {
        visibility: hidden;
    }
}