body, html {
    height: 100%;
    margin: 0;
    scroll-behavior:auto;
}

body {
    background: linear-gradient(
        to bottom,
        black 0%,
        rgb(31, 30, 31) 100%
    );
    background-color: black;
    background-attachment: fixed;
    font-family: 'Courier New', Courier, monospace;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

#loading_screen {
    margin: 0;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    display: block;
    font-size: 12pt;
}

#loading_text {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: white;
    top: 50%;
    text-align: center;
}

#mobile_notice {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: rgb(255, 0, 0);
    top: 60%;
    text-align: center;
    visibility: hidden;
}

#version_text {
    width: 100%;
    position: fixed;
    z-index: 10001;
    color: white;
    bottom: 0;
    text-align: right;
    font-size: 6pt;
}

#cursor_default {
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: fixed;
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
}

/* Font controls for "scrolls to immerse"*/
#scroll_instructions {
    top: 0px;
    color:white;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    margin-top: 1%;
    text-align: center;
    position: relative;
    z-index: 103;
}

#blank_space_for_scroll_animation {
    height: 3350px;
}

/* Video scroll playback controls */
#scroll_video {
    position: fixed;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    visibility: visible;
    object-position: center;
    object-fit:cover;
}

#set-height {
    display:contents;
}

#lingering_screen_static {
    position: fixed;
    z-index: 102;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 1;
    pointer-events: none;
    mask-size:cover;
    -webkit-mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: top, center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url(Images/Heavy_Static_Mask.svg);
    mask-image: url(Images/Heavy_Static_Mask.svg);
    -moz-mask-image: url(Images/Heavy_Static_Mask.svg);
}

#fullscreen_static {
    position: fixed;
    z-index: 10000000;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: visible;
    cursor: none;
}

#alpha_tv_cover {
    position: fixed;
    margin: 0 auto;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
}

.project_thumbnail {
    left: 43.2vw;
    top: 52.75vh;
    position: fixed;
    border: 0;
    height: 21vh;
    width: auto;
    opacity: 0;
    z-index: 2;
    visibility: hidden;
    cursor: url(Cursors/ring/ring_immersable_white.png) 64 64, auto;
    rotate: 359deg;
}

#animated_tv_static {
    left: 43.2vw;
    top: 52.75vh;
    position: fixed;
    border: 0;
    height: 21vh;
    width: auto;
    opacity: 0;
    z-index: 1;
    visibility:hidden;
    rotate: 359deg;
}

/* Project title font controls*/
.project_title {
    width: 90vw;
    top: 10%;
    margin-left: 5%;
    text-align: center;
    position: fixed;
    z-index: 101;
    visibility: hidden;
    line-height: 100%;
    word-break: break-all;
    color: rgb(0, 255, 13);
    background-color: rgba(255, 255, 255, 0);
    font-family:'Courier New', Courier, monospace;
    font-size: 20pt;
}

@media only screen and (hover: none) and (pointer: coarse) {
    #mobile_notice {
        visibility: hidden;
    }

    #blank_space_for_scroll_animation {
        height: 0px;
    }

    #scroll_video {
        visibility: hidden;
    }
    #scroll_instructions {
        background-color: black;
    }
}

@media (max-width:1300px) {
    .project_thumbnail {
        left: 42vw;
    }
    #animated_tv_static {
        left: 42vw;
    }
}

@media (max-width:1100px) {
    .project_thumbnail {
        left: 41vw;
    }
    #animated_tv_static {
        left: 41vw;
    }
}

@media (max-width:950px) {
    .project_thumbnail {
        left: 39.5vw;
    }
    #animated_tv_static {
        left: 39.5vw;
    }
}

@media (max-width:800px) {
    .project_title {
        font-size: 16pt;
    }
    .project_thumbnail {
        left: 38.4vw;
    }
    #animated_tv_static {
        left: 38.4vw;
    }
}

@media (max-width:700px) {
    .project_title {
        font-size: 16pt;
    }
    .project_thumbnail {
        left: 37.3vw;
    }
    #animated_tv_static {
        left: 37.3vw;
    }
}

@media (max-width:600px) {
    .project_title {
        font-size: 14pt;
    }
    .project_thumbnail {
        left: 36vw;
    }
    #animated_tv_static {
        left: 36vw;
    }
}

@media (max-width:400px) {
    .project_title {
        font-size: 12pt;
    }
    .project_thumbnail {
        left: 35vw;
    }
    #animated_tv_static {
        left: 35vw;
    }
}

@media (max-width:300px) {
    .project_title {
        font-size: 12pt;
    }
    .project_thumbnail {
        left: 31vw;
    }
    #animated_tv_static {
        left: 31vh
    }
}