body, html {
    background-color: rgb(10, 10, 10);
    margin: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    cursor: url(Cursors/ring/ring_default.svg) 16 16, auto;
}

#headliner_graphics {
    padding-top: 10%;
}

.project_description_link_text {
    cursor: url(Cursors/ring/ring_clickable.svg) 64 64, auto;
    color: hsl(0, 0%, 75%);
    background-color: rgba(0, 255, 13, 0.5);
    text-decoration: none;
}

.grid_panel {
    padding-top: 0;
    padding-bottom: 1%;
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 5%;
}

.grid_item {
    width: 100%;
    height: auto;
    padding-top: 2.5%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(0, 0, 0);
    box-shadow: 0 0px 20px 0 hsl(0, 0%, 15%);
    border-radius: 15px;
}

.grid_text {
    text-align: center;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.audio_player {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    cursor: url(Cursors/ring/ring_immersable_black.svg) 64 64, auto;
}

#text_description {
    padding-top: 6%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    line-height: 250%;
    padding-bottom: 10%;
}

#project_title {
    color: hsl(0, 0%, 90%);
}

#project_description {
    color: hsl(0, 0%, 75%);
}

#project_details {
    padding-top: 5%;
    color: hsl(0, 0%, 50%);
}