body {
    cursor: url(Cursors/ring/ring_default.png) 16 16, auto;
}

#back_button {
    position: fixed;
    display: flex;
    width: 50px;
    height: 50px;
    z-index: 1000;
    border: 1px solid white;
    background: hsla(0, 0%, 0%, 0.45);
    backdrop-filter: blur(10px) brightness(75%);
    -webkit-backdrop-filter: blur(10px) brightness(75%);
    top: 25px;
    left: 25px;
    cursor: url(Cursors/ring/ring_back.png) 64 64, auto;
    transition: 0.3s;
}

#back_button:hover {
    background: hsla(0, 0%, 75%, 0.45);
    cursor: url(Cursors/ring/ring_back.png) 64 64, auto;
    transition: 0.3s;
}

#back_button_graphic {
    position: relative;
    height: 20px;
    width: 20px;
    transform: translate(13px, 14px);
    z-index: 1001;
    pointer-events: none;
}

video {
    cursor: url(Cursors/ring/ring_play.png) 64 64, auto;
}